:root {
	--p-default: #1100CC;
	--p-9: #040033;
	--p-8: #090066;
	--p-7: #0D0099;
	--p-6: #1100CC;
	--p-5: #1500FF;
	--p-4: #4433FF;
	--p-3: #7366FF;
	--p-2: #A299FF;
	--p-1: #D0CCFF;

	--s-default: #B81430;
	--s-9: #2E050C;
	--s-8: #5C0A18;
	--s-7: #8A0F24;
	--s-6: #B81430;
	--s-5: #E61A3C;
	--s-4: #EB4763;
	--s-3: #F0758A;
	--s-2: #F5A3B1;
	--s-1: #FAD1D8;

	--g-default: #00CC00;
	--g-9: #003300;
	--g-8: #006600;
	--g-7: #009900;
	--g-6: #00CC00;
	--g-5: #00FF00;
	--g-4: #33FF33;
	--g-3: #66FF66;
	--g-2: #99FF99;
	--g-1: #CCFFCC;

	--grey-default: #808080;
	--grey-10: #000000;
	--grey-9: #0D0D0D;
	--grey-8: #1A1A1A;
	--grey-7: #262626;
	--grey-6: #333333;
	--grey-5: #404040;
	--grey-4: #666666;
	--grey-3: #999999;
	--grey-2: #CCCCCC;
	--grey-1-5: #D9D9D9;
	--grey-1: #E6E6E6;
	--grey-0-5: #F2F2F2;
	--grey-0: #FFFFFF;

	--gradient-1: linear-gradient(180deg, var(--p-3), var(--s-2));
	--gradient-2: linear-gradient(45deg, var(--p-3), var(--s-2));
}