@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Black+Ops+One&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 1 rem is 16px */

html {
	min-width: 100%;
	min-height: 100%;
	font-size: 16px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	margin: 0;
	height: 100vh;
	padding: 0;
	min-width: 100%;
	min-height: 100%;
}

.hide {
	display: none !important;
}